name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: platane/snk@master
        with:
          github_user_name: raam-7
          outputs: |
            ./output/github-contribution-grid-snake.svg
